.step1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    margin-top: 200px;
  }
  
  /* 업로드 전: 이미지 업로드 영역 */
  .image-upload {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  
  .image-upload img {
    width: 30px;
    height: auto;
    margin-right: 10px;
  }
  
  .image-upload h2 {
    margin: 0;
    font-size: 24px;
    color: #fff;
  }
  
  /* 업로드 박스 기본 스타일 (파일 미업로드 상태) */
  .upload-box {
    width: 520px;
    height: 300px;
    background-color: #000;
    border-radius: 10px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: height 0.5s ease;
  }
  
  .upload-content {
    display: flex;
    align-items: center;
    background: var(--gradient-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .upload-icon {
    width: 30px;
    height: 30px;
    margin-right: 17px;
  }
  
  .upload-support {
    position: absolute;
    bottom: 20px;
    font-size: 14px;
    color: #727485;
  }
  
  .upload-input {
    display: none;
  }
  
  /* 업로드 후 표시할 콘텐츠 */
  .uploaded-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* GradientBox 내부 전체를 채우도록 */
  }
  
  .uploaded-image {
    width: 550px;
    height: 380px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  
  .background-remove-btn {
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: var(--gradient-text);
    color: #0d1116;
    cursor: pointer;
    font-size: 16px;
    margin-left: 425px;
  }