.communityImagePage {
  width: 100%;
  height: 100%;
}
.communityImagePage__header {
  display: flex;
  width: 100%;
}

.communityImagePage__image {
  width: 600px;
  height: 220px;
  margin-left: 100px;
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    133deg,
    rgba(82, 255, 186, 0.04) 0%,
    rgba(82, 255, 186, 0.04) 9%,
    rgba(35, 250, 236, 0.04) 47%,
    rgba(0, 170, 255, 0.04) 88%
  );
  border: 3px solid #f794a4;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s;
}
.communityImagePage__image > h2 {
  font-size: 22px;
  font-weight: bold;
  background: linear-gradient(90deg, #f794a4 0%, #fdd6bd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* 일부 브라우저 호환용 */
  color: transparent; /* 혹시 모를 fallback */
  padding: 0px 0px 0px 20px;
}
.communityImagePage__image > span {
  font-size: 16px;
  color: #e5e6ee;
  padding: 0px 0px 0px 20px;
}
.communityImagePage__image__image {
  width: 330px;
  height: 220px;
  position: absolute;
  border-radius: 15px;
  right: 0px;
}
.communityImagePage__image__image > img {
  width: 100%;
  height: 100%;
}

.communityImagePage__video {
  width: 600px;
  height: 220px;
  margin-left: 110px;
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    133deg,
    rgba(82, 255, 186, 0.04) 0%,
    rgba(82, 255, 186, 0.04) 9%,
    rgba(35, 250, 236, 0.04) 47%,
    rgba(0, 170, 255, 0.04) 88%
  );
  border: 1px solid rgba(147, 165, 207, 0.12);
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s;
}
.communityImagePage__video:hover {
  transform: scale(1.05);
}
.communityImagePage__video > h2 {
  font-size: 22px;
  font-weight: bold;
  background: linear-gradient(90deg, #f794a4 0%, #fdd6bd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* 일부 브라우저 호환용 */
  color: transparent; /* 혹시 모를 fallback */
  padding: 0px 0px 0px 20px;
}
.communityImagePage__video > span {
  font-size: 16px;
  color: #e5e6ee;
  padding: 0px 0px 0px 20px;
}
.communityImagePage__video__image {
  width: 330px;
  height: 220px;
  position: absolute;
  border-radius: 15px;
  right: 0px;
}
.communityImagePage__video__image > img {
  width: 100%;
  height: 100%;
}

.communityImagePage__contents {
  width: 1340px;
  margin-top: 50px;
  margin-left: 100px;
}
.communityImagePage__contents__title {
  font-size: 25px;
  color: #ffffff;
}
.communityImagePage__contents__image {
  width: 100%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 75px;
}
.communityImagePage__contents__image > .box {
  cursor: pointer;
  transition: all 0.5s;
}
.communityImagePage__contents__image > .box:hover {
  transform: scale(1.05);
}
