.onboardingPage1 {
  width: 1920px;
  height: 1080px;
}
.onboardingPage1__title {
  padding: 100px 0px 0px 150px;
}
.onboardingPage1__title > span {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}
.onboardingPage1__title > h2 {
  font-size: 45px;
  font-weight: bold;
  background: var(--gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* 일부 브라우저 호환용 */
  color: transparent; /* 혹시 모를 fallback */
}

/* 전체 콘텐츠 영역 */
.onboardingPage1__content {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 바깥 Swiper 래퍼 */
.outer-swiper-wrapper {
  position: absolute;
  top: 145px;
  left: 0;
  width: 100%;
  height: 240px;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
}
/* Swiper 기본 크기 */
.outer-swiper {
  width: 100%;
  height: 100%;
}
/* 각 SwiperSlide를 자동 너비로 설정 */
.outer-swiper-slide {
  width: auto !important; /* 자동 슬라이드 너비 */
}
/* 이미지 wrapper */
.outer-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* 이미지 스타일 */
.outer-slide img {
  width: 499px;
  height: 240px;
  object-fit: cover;
  border-radius: 10px;
}

/* TV 프레임 전체 */
.tv-frame {
  position: relative;
  width: 550px;
  height: 450px;
  z-index: 2;
}
/* TV 외곽 이미지 */
.tv-frame__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 1) 0px 22px 70px 4px;
}
/* TV 안의 화면 */
.tv-screen {
  position: absolute;
  top: 144px;
  left: 24px;
  width: 499px;
  height: 240px;
  overflow: hidden;
  border-radius: 10px;
  z-index: 3;
}
/* TV 내부 Swiper */
.tv-swiper {
  width: 100%;
  height: 100%;
}
/* TV 내부 이미지 */
.tv-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
