.onboardingPage4 {
  width: 1920px;
  height: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.onboardingPage4__content {
  width: 1450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.onboardingPage4__content > h2 {
  font-size: 45px;
  font-weight: bold;
  color: #ffffff;
}
.onboardingPage4__content > h2 > span {
  background: linear-gradient(to top, #a3bded 0%, #6991c7 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* 일부 브라우저 호환용 */
  color: transparent; /* 혹시 모를 fallback */
}
.onboardingPage4__content > span {
  font-size: 25px;
  font-weight: bold;
  color: #abb8c8;
}
.onboardingPage4__content__image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.onboardingPage4__content__image > img {
  width: 320px;
  height: 600px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  cursor: pointer;
}
.onboardingPage4__content__image > .img1,
.img3 {
  margin-bottom: 50px;
}
.onboardingPage4__content__image > .img2,
.img4 {
  margin-top: 50px;
}
