.onboardingPage5 {
  width: 1920px;
  height: 1080px;
}
.onboardingPage5__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.onboardingPage5__content__introduce {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: #00b0c7;
}
.onboardingPage5__content__introduce > span {
  font-size: 45px;
  font-weight: bold;
}
.onboardingPage5__content__introduce > .title4 {
  margin-top: 150px;
  color: #ffffff;
}
.onboardingPage5__content__introduce > .title4 > span {
  background: var(--gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* 일부 브라우저 호환용 */
  color: transparent; /* 혹시 모를 fallback */
}
.onboardingPage5__button {
  width: 400px;
  height: 150px;
  font-size: 40px;
  font-weight: bold;
  border-radius: 30px;
  border: 2px solid #8389c7;
  background: linear-gradient(
      0deg,
      rgba(80, 82, 133, 0.3) 0%,
      rgba(88, 94, 146, 0.3) 12%,
      rgba(101, 104, 159, 0.3) 25%,
      rgba(116, 116, 176, 0.3) 37%,
      rgba(126, 126, 187, 0.3) 50%,
      rgba(131, 137, 199, 0.3) 62%,
      rgba(151, 149, 212, 0.3) 75%,
      rgba(162, 161, 220, 0.3) 87%,
      rgba(181, 174, 228, 0.3) 100%
    ),
    url("../../../assets/onboarding-button.jpg");
  background-size: cover;
  cursor: pointer;
  transform: all 0.4s;
  box-shadow: rgba(0, 0, 0, 0.46) 0px 22px 70px 4px;
}

.onboardingPage5__button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 0 #8389c7 inset, 0 0 10px 4px #8389c7;
}

.onboardingPage5__button > span {
  font-weight: normal;
  background: var(--gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* 일부 브라우저 호환용 */
  color: transparent; /* 혹시 모를 fallback */
}
