.settings .gradient-box__inner {
  background-color: #282e37 !important;
}
.settings__screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 20px;
}
.settings__screen__title {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}
.settings__screen__main {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}
.settings__screen__main > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.settings__screen__main > div > span {
  color: #727485;
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
}
.settings__screen__main > div > div {
  width: 60%;
  display: flex;
}
.settings__screen__main > div > div > button {
  position: relative;
  border: none;
  font-size: 15px;
  padding-left: 20px;
  background-color: transparent;
  color: #ffffff;
  margin-right: 30px;
  transition: all 0.5s;
  cursor: pointer;
}
.settings__screen__main > div > div > button:hover {
  transform: scale(1.05);
}
.settings__screen__main > div > div > button::before {
  content: "";
  position: absolute;
  left: 5px; /* 왼쪽 위치 */
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border: 1px solid white;
  border-radius: 999px;
}
.settings__screen__main > div > div > button.active::before {
  background-color: white;
}
/* 공통 비율 박스 스타일 */
.ratio-box {
  width: 24px;
  height: 16px;
  border: 2px solid white;
  background-color: #0d1116;
  border-radius: 5px;
  margin-bottom: 3px;
}
/* 16:9 가로형 */
.ratio-16by9 {
  width: 24px;
  height: 14px;
}
/* 9:16 세로형 */
.ratio-9by16 {
  width: 14px;
  height: 24px;
}
/* 1:1 정사각형 */
.ratio-1by1 {
  width: 20px;
  height: 20px;
}
/* 버튼 내부 배치 조정 */
.settings__screen__main__option3__btn > button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
