.mycreativesVideoPage {
  width: 100%;
  height: 100%;
}
.mycreativesVideoPage__header {
  display: flex;
  width: 100%;
}

.mycreativesVideoPage__image {
  width: 480px;
  height: 185px;
  margin-left: 130px;
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    133deg,
    rgba(82, 255, 186, 0.04) 0%,
    rgba(82, 255, 186, 0.04) 9%,
    rgba(35, 250, 236, 0.04) 47%,
    rgba(0, 170, 255, 0.04) 88%
  );
  border: 1px solid rgba(147, 165, 207, 0.12);
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s;
}
.mycreativesVideoPage__image:hover {
  transform: scale(1.05);
}
.mycreativesVideoPage__image > h2 {
  font-size: 22px;
  font-weight: bold;
  background: linear-gradient(90deg, #93a5cf 0%, #e4efe9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* 일부 브라우저 호환용 */
  color: transparent; /* 혹시 모를 fallback */
  padding: 0px 0px 0px 15px;
}
.mycreativesVideoPage__image > span {
  font-size: 16px;
  color: #e5e6ee;
  padding: 0px 0px 0px 15px;
}
.mycreativesVideoPage__image__image {
  width: 260px;
  height: 185px;
  position: absolute;
  right: 0px;
}
.mycreativesVideoPage__image__image > img {
  width: 100%;
  height: 100%;
}

.mycreativesVideoPage__video {
  width: 480px;
  height: 185px;
  margin-left: 300px;
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    133deg,
    rgba(82, 255, 186, 0.04) 0%,
    rgba(82, 255, 186, 0.04) 9%,
    rgba(35, 250, 236, 0.04) 47%,
    rgba(0, 170, 255, 0.04) 88%
  );
  border: 3px solid rgba(147, 165, 207);
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s;
  transform: scale(1.05);
}
.mycreativesVideoPage__video > h2 {
  font-size: 22px;
  font-weight: bold;
  background: linear-gradient(90deg, #93a5cf 0%, #e4efe9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* 일부 브라우저 호환용 */
  color: transparent; /* 혹시 모를 fallback */
  padding: 0px 0px 0px 15px;
}
.mycreativesVideoPage__video > span {
  font-size: 16px;
  color: #e5e6ee;
  padding: 0px 0px 0px 15px;
}
.mycreativesVideoPage__video__image {
  width: 260px;
  height: 185px;
  position: absolute;
  right: 0px;
}
.mycreativesVideoPage__video__image > img {
  width: 100%;
  height: 100%;
}

.mycreativesVideoPage__contents {
  width: 1270px;
  height: 565px;
  margin-top: 125px;
  margin-left: 130px;
}
.mycreativesVideoPage__contents__title {
  font-size: 25px;
  color: #ffffff;
}
.mycreativesVideoPage__contents__image {
  width: 100%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 75px;
}
.mycreativesVideoPage__contents__image > .box {
  cursor: pointer;
  transition: all 0.5s;
}
.mycreativesVideoPage__contents__image > .box:hover {
  transform: scale(1.05);
}

.mycreativesVideo-download-box-overlay {
  position: fixed; /* 수정: 스크롤과 무관하게 고정 */
  top: 0;
  left: 0;
  width: 1920px; /* 화면 전체 너비 */
  height: 1080px; /* 화면 전체 높이 */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}
.mycreativesVideo-download-box {
  width: 950px;
  height: 400px;
  background-color: #1a1a1a;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  position: relative;
  z-index: 1000;
  padding: 20px;
  margin-left: 300px;
  margin-bottom: 100px;
}
.mycreativesVideo-download-box.fade-in {
  opacity: 1;
}
.mycreativesVideo-download-preview {
  width: 400px;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
}
.mycreativesVideo-download-preview video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mycreativesVideo-download-info {
  color: white;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 550px;
  height: 100%;
  position: relative;
}
.mycreativesVideo-video-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.mycreativesVideo-video-name {
  font-size: 24px;
  font-weight: bold;
}
.mycreativesVideo-video-size {
  font-size: 18px;
}
.mycreativesVideo-download-button {
  width: 96%;
  height: 40px;
  background: var(--gradient-text);
  color: #0d1116;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
.mycreativesVideo-download-button:hover {
  transform: scale(1.05);
}
.mycreativesVideo-modal-close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.mycreativesVideo-modal-close-button:hover {
  transform: scale(1.1);
}
