.mycreativesVideoPage {
  width: 100%;
  height: 100%;
}
.mycreativesVideoPage__header {
  display: flex;
  width: 100%;
}

.mycreativesVideoPage__image {
  width: 480px;
  height: 185px;
  margin-left: 130px;
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    133deg,
    rgba(82, 255, 186, 0.04) 0%,
    rgba(82, 255, 186, 0.04) 9%,
    rgba(35, 250, 236, 0.04) 47%,
    rgba(0, 170, 255, 0.04) 88%
  );
  border: 1px solid rgba(147, 165, 207, 0.12);
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s;
}
.mycreativesVideoPage__image:hover {
  transform: scale(1.05);
}
.mycreativesVideoPage__image > h2 {
  font-size: 22px;
  font-weight: bold;
  background: linear-gradient(90deg, #93a5cf 0%, #e4efe9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* 일부 브라우저 호환용 */
  color: transparent; /* 혹시 모를 fallback */
  padding: 0px 0px 0px 15px;
}
.mycreativesVideoPage__image > span {
  font-size: 16px;
  color: #e5e6ee;
  padding: 0px 0px 0px 15px;
}
.mycreativesVideoPage__image__image {
  width: 260px;
  height: 185px;
  position: absolute;
  right: 0px;
}
.mycreativesVideoPage__image__image > img {
  width: 100%;
  height: 100%;
}

.mycreativesVideoPage__video {
  width: 480px;
  height: 185px;
  margin-left: 300px;
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    133deg,
    rgba(82, 255, 186, 0.04) 0%,
    rgba(82, 255, 186, 0.04) 9%,
    rgba(35, 250, 236, 0.04) 47%,
    rgba(0, 170, 255, 0.04) 88%
  );
  border: 3px solid rgba(147, 165, 207);
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s;
  transform: scale(1.05);
}
.mycreativesVideoPage__video > h2 {
  font-size: 22px;
  font-weight: bold;
  background: linear-gradient(90deg, #93a5cf 0%, #e4efe9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* 일부 브라우저 호환용 */
  color: transparent; /* 혹시 모를 fallback */
  padding: 0px 0px 0px 15px;
}
.mycreativesVideoPage__video > span {
  font-size: 16px;
  color: #e5e6ee;
  padding: 0px 0px 0px 15px;
}
.mycreativesVideoPage__video__image {
  width: 260px;
  height: 185px;
  position: absolute;
  right: 0px;
}
.mycreativesVideoPage__video__image > img {
  width: 100%;
  height: 100%;
}
